@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9970 0 0);
  --foreground: oklch(0.2161 0.0061 56.0434);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2161 0.0061 56.0434);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2161 0.0061 56.0434);
  --primary: oklch(0.5081 0.1049 165.6121);
  --primary-foreground: oklch(0.9819 0.0181 155.8263);
  --secondary: oklch(0.9276 0.0058 264.5313);
  --secondary-foreground: oklch(0.2161 0.0061 56.0434);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9319 0.0316 255.5855);
  --accent-foreground: oklch(0.4244 0.1809 265.6377);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(0.9705 0.0129 17.3797);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.5081 0.1049 165.6121);
  --chart-1: oklch(0.5081 0.1049 165.6121);
  --chart-2: oklch(0.7038 0.1230 182.5025);
  --chart-3: oklch(0.8452 0.1299 164.9782);
  --chart-4: oklch(0.9049 0.0895 164.1501);
  --chart-5: oklch(0.9527 0.0498 180.8012);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-primary: oklch(0.5081 0.1049 165.6121);
  --sidebar-primary-foreground: oklch(0.9819 0.0181 155.8263);
  --sidebar-accent: oklch(0.9319 0.0316 255.5855);
  --sidebar-accent-foreground: oklch(0.4244 0.1809 265.6377);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.5081 0.1049 165.6121);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.15rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.05rem;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -0.95px hsl(0 0% 0% / 0.10);
  --shadow: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -0.95px hsl(0 0% 0% / 0.10);
  --shadow-md: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.10), 0rem 2px 4px -0.95px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.10), 0rem 4px 6px -0.95px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.10), 0rem 8px 10px -0.95px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2046 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.4318 0.0865 166.9128);
  --primary-foreground: oklch(0.9819 0.0181 155.8263);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2781 0.0296 256.8480);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.4244 0.1809 265.6377);
  --accent-foreground: oklch(0.8823 0.0571 254.1284);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9705 0.0129 17.3797);
  --border: oklch(0.2686 0 0);
  --input: oklch(0.2686 0 0);
  --ring: oklch(0.4318 0.0865 166.9128);
  --chart-1: oklch(0.4318 0.0865 166.9128);
  --chart-2: oklch(0.6002 0.1038 184.7040);
  --chart-3: oklch(0.7729 0.1535 163.2231);
  --chart-4: oklch(0.8452 0.1299 164.9782);
  --chart-5: oklch(0.9100 0.0927 180.4256);
  --sidebar: oklch(0.2046 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.4318 0.0865 166.9128);
  --sidebar-primary-foreground: oklch(0.9819 0.0181 155.8263);
  --sidebar-accent: oklch(0.4244 0.1809 265.6377);
  --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
  --sidebar-border: oklch(0.2686 0 0);
  --sidebar-ring: oklch(0.4318 0.0865 166.9128);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.15rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.05rem;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.10);
  --shadow-xs: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.10);
  --shadow-sm: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.20), 0rem 1px 2px -0.95px hsl(0 0% 0% / 0.20);
  --shadow: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.20), 0rem 1px 2px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-md: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.20), 0rem 2px 4px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.20), 0rem 4px 6px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.20), 0rem 8px 10px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
